/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* View Record Styles */
#id,
#date,
#time,
#location,
#last_name,
#first_name,
#license_number,
#plate_number,
#violation_type,
#fine {
    background-color: #0ca74c; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 15px;
    min-height: 35px;
    font-weight: bolder;
    font-size: 20px;
}
.lname{
    margin-left: 500px;
    margin-top:-381px;
}
.fname{
    margin-left: 500px;
}
.licnum{
    margin-left: 500px;
}
.platenum{
    margin-left: 500px;
}


a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
}

a:hover {
    color: #0056b3;
}
